<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SecuLoginMapper">

	<select id="sequrityLoginRole"
			parameterType="java.lang.String"
			resultType="kr.co.ureca.dto.RoleDTO">
		SELECT r.roleid, r.rolename, r.roledesc
		FROM user u, userrole ur, role r
		WHERE u.username = #{username}
		AND u.id = ur.userid
		AND ur.roleid = r.roleid
	</select>

	<select id="sequrityLoginCheck"
			parameterType="java.lang.String"
			resultType="kr.co.ureca.dto.UserDTO">
		select id, username, password
		from user
		where username = #{username}
	</select>

</mapper>
