<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="VocationMapper">

	<insert id="insertApproveProcess" parameterType="kr.co.ureca.dto.ApproveDocument">
		insert into approveprocess
		(docid,apprvseq,deptid,empid,apprvstatus,apprvcomment,createdat)
		values
		<foreach item="String" separator="," collection="apprvArray" index="idx">
			(#{docid}, #{idx}, #{deptid}, #{String}, 1, null, now())
		</foreach>
	</insert>

	<insert id="insertVocation" parameterType="kr.co.ureca.dto.ApproveDocument">
		insert into vocation (docid,doctitle,voctype,reqtime,doccontent,satartdate,enddate)
		values (#{docid},#{doctitle},#{voctype},#{reqtime},#{doccontent},#{satartdate},#{enddate})
	</insert>

	<insert id="insertApprvDoc" parameterType="kr.co.ureca.dto.ApproveDocument">
		insert into approvedocument (year,doccategory,deptid,empid,doctype
				,apprvstatus,created,createdat,updated,updatedat)
		values	(#{year},#{doccategory},#{deptid},#{empid},#{doctype}
				,1,#{empid},now(),#{empid},now())
		<selectKey order="AFTER" keyProperty="docid" resultType="int">
			select last_insert_id()
		</selectKey>
	</insert>

	<select id="getDocCategoryList" resultType="kr.co.ureca.dto.CommonCode">
		select codeclass,code,codename,codedesc,created,createdat,updated,updatedat
		from common_code
		where codeclass = 'hrdc'
	</select>

	<select id="getDocTypeList" resultType="kr.co.ureca.dto.CommonCode">
		select codeclass,code,codename,codedesc,created,createdat,updated,updatedat
		from common_code
		where codeclass = 'hrdt'
	</select>

	<select id="getVocTypeList" resultType="kr.co.ureca.dto.CommonCode">
		select codeclass,code,codename,codedesc,created,createdat,updated,updatedat
		from common_code
		where codeclass = 'hrvt'
	</select>

	<select id="getVocationStatus"
			parameterType="java.lang.String"
			resultType="kr.co.ureca.dto.VocationStatusDTO">
			select
				(SELECT totaltime FROM totalvocation where empid = #{username}
				) AS totalVocationTime,
				(SELECT sum(v.reqtime) FROM approvedocument ad, vocation v
					where ad.empid = #{username} and ad.doccategory = 1
					and ad.doctype = 11 and ad.apprvstatus = 3 and ad.docid = v.docid
				) AS usedYearVocationTime
	</select>

</mapper>
